<header>
    <nav>
        <ul>
            <li>
                <a id="home" class="left-floated" href="/">MoneyGone</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="right-floated" href="/login">Login</a>
            </li>
        </ul>
    </nav>
</header>