<header>
    <nav>
        <ul>
            <li>
                <a id="home" class="left-floated" href="/">MoneyGone</a>
            </li>
        </ul>
        <ul>
            <li>
                {{#if isLogged}}
                <a class="right-floated" href="#">[{{username}}]</a>
                <a class="right-floated" href="/logout">Logout</a>
                {{else}}
                <a class="right-floated" href="/login">Login</a>
                {{/if}}
            </li>
        </ul>
    </nav>
</header>