<section class="expense-report">

    <h1>ID: 192387048</h1>
    <div class="report-date">
        <img src="static/images/date.png" alt="">
        <p>October 26, 2019</p>
    </div>

    <div class="report-category">
        <img src="static/images/amount.png" alt="">
        <p>Equipment - лв 123.00</p>
    </div>

    <div class="report-merchant">
        <p>Car supplies</p>
    </div>

    <div class="report-description">
        <img src="static/images/hastag.png" alt="">
        <p>Deeeeeeeeeeeeeeeeeeeeeeeeeeeescription</p>
    </div>

    <div class="report-action">
        <a disabled href="#">Stop tracking</a>
    </div>
</section>